aiohttp==3.8.3
aiosignal==1.3.1
astroid==2.14.1
async-timeout==4.0.2
attrs==22.2.0
blis==0.7.9
CacheControl==0.12.11
cachetools==5.3.0
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
confection==0.0.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==39.0.0
cymem==2.0.7
dill==0.3.6
dj-database-url==0.5.0
Django==2.2.13
django-cors-headers==3.11.0
django-heroku==0.3.1
djangorestframework==3.13.1
drf-yasg2==1.19.4
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.5.0/en_core_web_lg-3.5.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
filelock==3.9.0
firebase-admin==6.1.0
frozenlist==1.3.3
google-api-core==2.11.0
google-api-python-client==2.76.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
google-cloud-core==2.3.2
google-cloud-firestore==2.9.1
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
grpcio==1.51.1
grpcio-status==1.51.1
gunicorn==20.1.0
httplib2==0.21.0
huggingface-hub==0.12.0
idna==3.4
inflection==0.5.1
isort==5.12.0
itypes==1.2.0
Jinja2==3.1.2
joblib==1.2.0
langcodes==3.3.0
lazy-object-proxy==1.9.0
MarkupSafe==2.1.2
mccabe==0.7.0
msgpack==1.0.4
multidict==6.0.4
murmurhash==1.0.9
nltk==3.8.1
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
openai==0.26.4
packaging==23.0
pathy==0.10.1
Pillow==9.4.0
platformdirs==3.0.0
preshed==3.0.8
proto-plus==1.22.2
protobuf==4.21.12
psycopg2-binary==2.9.5
pyAesCrypt==6.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.4
PyJWT==2.6.0
pylint==2.16.1
pylint-django==2.5.3
pylint-plugin-utils==0.7
pyparsing==3.0.9
python-decouple==3.7
pytz==2022.7.1
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scikit-learn==1.2.1
scikit-metrics==0.1.0
scipy==1.10.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
six==1.16.0
smart-open==6.3.0
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sqlparse==0.4.3
srsly==2.4.5
thinc==8.1.7
threadpoolctl==3.1.0
tokenizers==0.13.2
tomli==2.0.1
tomlkit==0.11.6
torch==1.13.1
torchvision==0.14.1
tqdm==4.64.1
transformers==4.26.0
typer==0.7.0
typing_extensions==4.4.0
uritemplate==4.1.1
urllib3==1.26.14
wasabi==1.1.1
whitenoise==6.3.0
wrapt==1.14.1
yarl==1.8.2
